<div class="container">
    <div class="row">
        <div class="col-6">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="input-group flex-nowrap" data-id="{{id}}">
                <input type="text" class="form-control" placeholder="{{burger_name}}" data-id="{{id}}" aria-describedby="addon-wrapping" readonly>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-info devourBtn" id="{{id}}">Devour It!</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6">
            {{#each burgers}}
            {{#if devoured}}
                <input class="form-control" type="text" placeholder="{{burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>